<header>
    <h1>Grenswerkerstool</h1>
</header>
<div class="full-page width" [class.hide]="form">
    <div class="form-area bg-image">
        <form class="content-form" method="POST" (ngSubmit)="onSubmit()">
            <button mat-raised-button color="primary" class="icon-info" type="button" (click)="openDialog()">Instructies</button>
            <mat-card-title>Gevraagd: grenswerkers.</mat-card-title>
            <mat-card-title class="small-text">Taken, competenties en persoonskenmerken van verbinders op weg naar regionale samenwerking</mat-card-title>
            <div class="half">
                <mat-form-field>
                    <input matInput placeholder="Jouw naam" name="name" [(ngModel)]="message.name" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Jouw organisatie" name="organization" [(ngModel)]="message.organization">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Jouw rol" name="rol" [(ngModel)]="message.rol">
                </mat-form-field>
            </div>
            <div class="half">
                <mat-form-field>
                    <input matInput placeholder="Naam van jouw collega" name="collega_name" [(ngModel)]="message.collega_name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Organisatie van jouw collega" name="collega_organization" [(ngModel)]="message.collega_organization">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Rol van jouw collega" name="collega_rol" [(ngModel)]="message.collega_rol">
                </mat-form-field>
            </div>
            <div class="width center-mode">
                <div class="half">
                    <mat-form-field>
                        <input matInput placeholder="Projectnaam" name="project" [(ngModel)]="message.project">
                    </mat-form-field>
                    <section class="example-section">
                        <mat-checkbox color="primary" name="date" class="example-margin" [(ngModel)]="message.date">Datum</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="width text-center">
                <button mat-raised-button color="primary" class="big-size" type="submit">Volgende</button>
            </div>
        </form>
    </div>
</div>
<mat-tab-group dynamicHeight>
    <mat-tab label="Taken">
        <p class="margin-text">
            Selecteer 1-5 mogelijke taken van de grenswerker waarvoor jij 
            (of de collega voor wie je een profiel maakt) de benodigde
            competenties en/of persoonskenmerken wilt verkennen. 
        </p>
        <div class="width cards-area-selected">
            <div class="content width">
                <mat-accordion multi="true">
                    <mat-expansion-panel class="taken-section" [expanded]="true" (opened)="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Taken
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            #tag1List="cdkDropList"
                            [cdkDropListData]="tag1"
                            [cdkDropListConnectedTo]="[selectedList1]"
                            class="list"
                            (cdkDropListDropped)="drop($event)">
                            <app-card class="taken" *ngFor="let item of tag1" cdkDrag [item]="item"></app-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="content width selected-area">
                <mat-accordion class="example-headers-align"  multi="true">
                    <mat-expansion-panel  class="taken-light-section" [expanded]="true" (opened)="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Taken
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div
                            cdkDropList
                            #selectedList1="cdkDropList"
                            cdkDropListOrientation="horizontal"
                            [cdkDropListData]="selected1"
                            [cdkDropListConnectedTo]="[tag1List]"
                            class="list"
                            (cdkDropListDropped)="drop($event)">
                            <app-card class="taken" *ngFor="let item of selected1" cdkDrag [item]="item"></app-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Taakgerichte competenties">
        <div class="width cards-area-selected">
            <div class="content width">
                <mat-accordion multi="true">
                    <mat-expansion-panel class="competensies-section" [expanded]="true" (opened)="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Taakgerichte competenties
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            #tag2List="cdkDropList"
                            [cdkDropListData]="tag2"
                            [cdkDropListConnectedTo]="[selectedList2]"
                            class="list"
                            (cdkDropListDropped)="drop($event)">
                            <app-card class="competensies" *ngFor="let item of tag2" cdkDrag [item]="item"></app-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="content selected-area width">
                <mat-accordion class="example-headers-align"  multi="true">
                    <mat-expansion-panel class="competensies-light-section" [expanded]="true" (opened)="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Taakgerichte competenties
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div
                            cdkDropList
                            #selectedList2="cdkDropList"
                            cdkDropListOrientation="horizontal"
                            [cdkDropListData]="selected2"
                            [cdkDropListConnectedTo]="[tag2List]"
                            class="list"
                            (cdkDropListDropped)="drop($event)">
                            <app-card class="competensies" *ngFor="let item of selected2" cdkDrag [item]="item"></app-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Persoonskenmerken">
        <div class="width cards-area-selected">
            <div class="content width">
                <mat-accordion multi="true">
                    <mat-expansion-panel class="kenmerken-section" [expanded]="true" (opened)="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Persoonskenmerken 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            #tag3List="cdkDropList"
                            [cdkDropListData]="tag3"
                            [cdkDropListConnectedTo]="[selectedList3]"
                            class="list"
                            (cdkDropListDropped)="drop($event)">
                            <app-card class="kenmerken" *ngFor="let item of tag3" cdkDrag [item]="item"></app-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="content selected-area width">
                <mat-accordion class="example-headers-align"  multi="true">
                    <mat-expansion-panel class="kenmerken-light-section" [expanded]="true" (opened)="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Persoonskenmerken 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div
                            cdkDropList
                            #selectedList3="cdkDropList"
                            cdkDropListOrientation="horizontal"
                            [cdkDropListData]="selected3"
                            [cdkDropListConnectedTo]="[tag3List]"
                            class="list"
                            (cdkDropListDropped)="drop($event)">
                            <app-card class="kenmerken" *ngFor="let item of selected3" cdkDrag [item]="item"></app-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Samenvatting en afdrukken">
        <div class="width">
            <div class="width margin">
                <div class="col">
                    <ul>
                        <li>
                            Jouw naam: <b>{{ message.name }}</b>
                        </li>
                        <li *ngIf="message.organization && message.organization.length > 0">
                            Jouw organisatie: <b>{{ message.organization }}</b>
                        </li>
                        <li *ngIf="message.rol && message.rol.length > 0">
                            Jouw rol: <b>{{ message.rol }}</b>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li *ngIf="message.collega_name && message.collega_name.length > 0">
                            Naam van jouw collega: <b>{{ message.collega_name }}</b>
                        </li>
                        <li *ngIf="message.collega_organization && message.collega_organization.length > 0">
                            Organisatie van jouw collega: <b>{{ message.collega_organization }}</b>
                        </li>
                        <li *ngIf="message.collega_rol && message.collega_rol.length > 0">
                            Rol van jouw collega: <b>{{ message.collega_rol }}</b>
                        </li>
                    </ul>
                </div>
                <div class="col" *ngIf="message.project">
                    <ul>
                        <li *ngIf="message.project && message.project.length > 0">
                            Projectnaam: <b>{{ message.project }}</b>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="width text-center margin-bottom">
                <!-- <button mat-raised-button color="primary" class="big-size" type="submit">Volgende</button> -->
                <div class="width" *ngIf="!progress.loaded">
                    <h2 *ngIf="condition()">You can get pdf file</h2>
                    <button 
                        mat-raised-button 
                        color="primary" 
                        type="button" 
                        (click)="formatedPDF()"
                        [disabled]="!condition()" 
                    >Afdrukken</button>
                    <a href="/" mat-raised-button color="warn" >
                        Vul de tool opnieuw in
                    </a>
                </div>
                <div class="width" *ngIf="progress.loaded">
                    <h3>Creating pdf file please wait</h3>
                </div>
            </div>
        </div>
        <div class="width">
            <mat-accordion class="example-headers-align small-margin" id="taken"  multi="true">
                <mat-expansion-panel  class="taken-light-section" [expanded]="true" (opened)="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Taken
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        [cdkDropListData]="selected1"
                        class="list"
                        (cdkDropListDropped)="drop($event)">
                        <app-card class="taken" *ngFor="let item of selected1" cdkDrag [item]="item"></app-card>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="example-headers-align small-margin" id="competenties"  multi="true">
                <mat-expansion-panel class="competensies-light-section" [expanded]="true" (opened)="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Taakgerichte competenties
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        [cdkDropListData]="selected2"
                        class="list"
                        (cdkDropListDropped)="drop($event)">
                        <app-card class="competensies" *ngFor="let item of selected2" cdkDrag [item]="item"></app-card>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="example-headers-align small-margin" id="persoonskenmerken"  multi="true">
                <mat-expansion-panel class="kenmerken-light-section" [expanded]="true" (opened)="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Persoonskenmerken 
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        [cdkDropListData]="selected3"
                        class="list"
                        (cdkDropListDropped)="drop($event)">
                        <app-card class="kenmerken" *ngFor="let item of selected3" cdkDrag [item]="item"></app-card>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>